/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS variables*/
:root {
    /*--variable-name */
    --primary-font: "Oswald", sans-serif;
    --primary-color: #002060; /* Dark Blue */
    --secondary-color: #416a8e; /* blue */
    --tertiary-color: #BDD7EE; /* light blue */
    --primary-highlight: #CF2F7F; /* Dark pink */ 
    --secondary-highlight: #ca5891; /*Pink */ 
    --light-highlight: #EEB4D1; /* light pink */
    --light-light-highlight: #EEB4D1; /* light pink */
}

/* Override overscroll behavior */
* {
    overscroll-behavior: none;
}

/* General styles */
body {
    min-height: 120vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: var(--primary-font);
}

h1, h2, h3, h4 {
    padding-left: 5px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: var(--secondary-color);
}

h3 {
    color: var(--secondary-color);
}

p {  
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

/* Navbar styling */
header {
    display: flex;
    width: 100%;
}

#navbar {
    background-color: var(--tertiary-color);
    display: flex;
    width: 100%;
}

/* Main content */
main {
    /* Main element to take up any surplus space to push footer down */
    flex: 1 0 auto;
    max-width: 1399px;
    justify-content: center;
    margin: auto;
    position: relative;
}

.cover-image {
    background: url("../images/home-background.jpeg") no-repeat center center/cover;
    height: 500px;
    width: 100%;
    position: relative;
}
.home-cover-text {
    background-color: rgba(255, 255, 255, 0.865);
    text-align: center;
    position: absolute;
    padding-top: 0.4rem;
    top: 225px;
    width: 100%;
}


.introduction {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(189, 215, 238, 0.35);
    position: relative;
}

/* Country coverage summary */
.coverage {
    padding-top: 5px;
}
.coverage > .row {
    margin-left: 0;
    margin-right:0;
}

.coverage > h2, .activities-overview > h2 {
    color: var(--primary-color);
}

/* Activites section */
.activities-overview {
    background-color: rgba(189, 215, 238, 0.35);
}

.activities-overview h2 {
    padding: 3px;
}

.activities-list {
    list-style-type: none;
    display: block;
}

.activities-list i {
    padding: 2px;
    
}

/* Footer */
footer {
    display: flex;
    width: 100%;
}

.contact {
    background-color: var(--primary-color);
    height: 60px;
}

.social-links {
    text-align: center;
    padding: 14px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 130%;
}

.contact .social-links i {
    color: var(--tertiary-color);
    transition: color 0.2s ease-in-out;
}

.contact .social-links i:hover {
    color: var(--light-light-highlight);
}