/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS variables*/
:root {
    /*--variable-name */
    --primary-font: "Oswald", sans-serif;
}
/* General styles */
body {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

/* Main content */
main {
    /* Main element to take up any surplus space to push footer down */
    flex: 1 0 auto;
}