/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS variables*/
:root {
    /*--variable-name */
    --primary-font: "Oswald", sans-serif;
    --primary-color: #002060; /* Dark Blue */
    --secondary-color: #416a8e; /* blue */
    --tertiary-color: #BDD7EE; /* light blue */
    --primary-highlight: #CF2F7F; /* Dark pink */ 
    --secondary-highlight: #ca5891; /*Pink */ 
    --light-highlight: #EEB4D1; /* light pink */
    --light-light-highlight: #EEB4D1; /* light pink */
}
/* General styles */
body {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}


/* Navbar styling */
#navbar {
    background-color: var(--tertiary-color);
}

/* Main content */
main {
    /* Main element to take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
.contact {
    background-color: var(--primary-color);
    height: 60px;
}

.social-links {
    text-align: center;
    padding: 14px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 130%;
}

.contact .social-links i {
    color: var(--tertiary-color);
    transition: color 0.2s ease-in-out;
}

.contact .social-links i:hover {
    color: var(--light-light-highlight);
}